/* -------- Fonts -------- */


@font-face {
    font-family: "BackToBlack";
    src: url("./fonts/Back\ to\ Black\ Demo.woff2") format('woff2');
}

@font-face {
    font-family: "Antipasto";
    src: url("./fonts/Antipasto-Pro-Regular-trial.woff2") format('woff2');
}

@font-face {
    font-family: "LGC";
    src: url("./fonts/Louis\ George\ Cafe.woff2") format('woff2');
}

@font-face {
    font-family: "CreatoReg";
    src: url("./fonts/CreatoDisplay-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "CreatoRegIt";
    src: url("./fonts/CreatoDisplay-RegularItalic.woff2") format('woff2');
}

@font-face {
    font-family: "CreatoThinIt";
    src: url("./fonts/CreatoDisplay-ThinItalic.woff2") format('woff2');
}

@font-face {
    font-family: "CreatoBlack";
    src: url("../Fonts/CreatoDisplay-Black.woff2") format('woff2');
}


/* -------- General -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

h1 {
    margin: 0;
}

:root {
    font-size: 10px;
    --main-color: rgb(27, 82, 122);
    --accent-color: rgb(109, 161, 85);
}

.item {
    flex: 1;
}




/* -------- Header -------- */

header {
    display: flex;
    flex-direction: column;
}

.title-bar {
    background-color: var(--main-color);
    color: white;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title-bar h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}

.title-bar h4 {
    font-family: "Antipasto", sans-serif;
    font-size: 1.5rem;
}

.nav-bar {
    background-color: var(--accent-color);
    color: white;
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0 50px;

    color: white;
    text-align: center;
    font-family: Antipasto Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px;
}

.nav-bar ul li {
    font-family: "Antipasto", sans-serif;
}


/* -------- Hero Section -------- */

.hero {
    background-image: url("images/ranch.png");
    width: 100%;
    height: 30vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
}

.hero h2 {
    font-family: "LGC", sans-serif;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 45%) 4px 2px;
}

.hero h1 {
    font-family: "BackToBlack", sans-serif;
    font-size: 5rem;
    text-shadow: rgba(0, 0, 0, 45%) 4px 2px;
}


/* -------- Main Body -------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

main .item {
    margin: 70px 50px;
    margin-bottom: -30px;
}

main .item:last-child p {
    margin: 0px;
}

main .item img {
    width: 100%;
}

main .item p:not(.caption):not(.outro) {
    font-family: "CreatoReg", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 40px;
}

.hero-title {
    font-family: "CreatoBlack", sans-serif;
    background-color: rgb(110, 165, 119);
    color: white;
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: -10px;
    padding: 20px;
    text-align: center;
}

.caption {
    font-family: "CreatoRegIt", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.outro {
    font-family: "CreatoRegIt", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: black;
}

/* -------- Footer Body -------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    height: 5vh;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}